{% comment %}
  @param {Boolean} center
{% endcomment %}

{% if include.center %}
<div class="list-inline text-center">
{% else %}
<div class="list-inline">
{% endif %}
  {% if site.sns.github_username %}
  <a target="_blank" href="https://github.com/SeraphicWolf">
    <span class="fa-stack fa-lg">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-github-alt fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  {% endif %}

  {% if site.sns.twitter_username %}
  <a target="_blank" href="https://twitter.com/{{ site.sns.twitter_username }}">
    <span class="fa-stack fa-lg">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  {% endif %}

  {% if site.sns.email_address %}
  <a href="mailto:{{ site.sns.email_address }}">
    <span class="fa-stack fa-lg">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  {% endif %}
</div>
